<a href="https://colab.research.google.com/github/ankitstar01/WFH/blob/master/keyPoint_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import math
import time
import pandas as pd

In [0]:
cd=0
ld=0
def get_distance(p1,p2):
    x=p2[0]-p1[0]
    y=p2[1]-p1[1]
    cd=math.sqrt(x*x+y*y)
    return cd

In [66]:
get_distance((1,1),(5,4))

5.0

In [67]:
t=[(2,1),(4,5),(12,-3),(14,-5),(11,33),(62,45),(1,-31),(61,-52),(2,23),(4,54),(12,-20),(14,-11),(12,33),(34,51),(21,-33),(42,-223)] # sample format of data to be passed list of tuples of tuples
t1=[(2,3),(3,4),(2,4),(3,4),(1,3),(2,4),(3,4),(1,4)]
len(t)

16

In [0]:
def get_allDistances(t):
  n = len(t)
  distances = [[0]*n]*n
  t1=time.time()
  for i in range(n):
    for j in range(n):
      distances[i][j]=get_distance(t[i],t[j])
  t2=time.time()
  print('total time taken {}sec:'.format(t2-t1))
  return distances

In [69]:
type(get_allDistances(t1))

total time taken 5.0067901611328125e-05sec:

list

In [70]:
d=np.array(get_allDistances(t1))
d

total time taken 4.506111145019531e-05sec:

array([[1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ],
       [1.41421356, 2.        , 1.        , 2.        , 1.        ,
        1.        , 2.        , 0.        ]])

In [71]:
df=pd.DataFrame(d) #data frame conversion
df

          0    1    2    3    4    5    6    7
0  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
1  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
2  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
3  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
4  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
5  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
6  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0
7  1.414214  2.0  1.0  2.0  1.0  1.0  2.0  0.0

In [61]:
t1[1]

(3, 4)

In [0]:
n=5
t=[[0]*n]*n

In [9]:
t

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]